@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@700&display=swap');
body{
  font-family: 'Bebas Neue', cursive;
font-family: 'Open Sans', sans-serif;
}
.main{
  display: flex;
  flex-direction: column;
  

}
::placeholder{
  color: rgb(57, 58, 59);
  font-size: 20px;
}
input{
  height: 40px;
  background-color: #CED4DA;
  outline: none;
  border: none;
  padding-left: 10px;
  
}
input:focus{
  outline: none;
}
button{
  height: 40px;
}
